.projectsPage {
  background-color: #f6f8fc;
  min-height: 100vh;
  padding-top: 3rem;
  padding-left: 5rem;
}

.projectsPage__projects {
  display: flex;
  flex-wrap: wrap;

  gap: 40px;

  list-style: none;
}

.projectsPage__createProjectSection {
  width: 25rem;
  height: 25rem;
  border-radius: 10px;
  border: 2px dotted #c2c8da;
  padding: 2rem 1rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.projectsPage__createProjectText {
  font-size: 1.2rem;
  font-weight: 700;
  color: #c2c8da;
}

.projectsPage__createProjectButton {
  background-color: #a8c1e5;
  color: #546173;
  border: none;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s;

  max-width: 25rem;
}

.projectsPage__createProjectButton:hover {
  background-color: #b9cdea;
}

.projectPage__loading {
  border: 5px solid #ccc; /* Light gray border */
  border-top: 5px solid #4e75eb; /* Blue border on top */
  width: 5rem;
  height: 5rem;
  margin-top: 5rem;
}

.projectPage__newProjectFormModal {
  position: absolute;
  padding: 3rem;
  width: 80rem;
  height: fit-content;
  top: 40%;
  left: 55%;
  transform: translate(-50%, -50%);
}

@media (max-width: 800px) {
  .projectPage__newProjectFormModal {
    width: 70rem;
  }
}

@media (max-width: 767px) {
  .projectPage__newProjectFormModal {
    width: 90%;
    top: 30rem;
    left: 50%;
  }
}
