.navbar {
  position: sticky;
  top: 0;
  height: 100vh;
  background-color: #fff;
  border-top-right-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  padding: 10px 0 0 4rem;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.navbar__logo {
  width: 12rem;
  margin-bottom: 4rem;
}

.navbar__userInfo {
  display: flex;
  flex-direction: column;

  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 8rem;
  margin-left: -4rem;
}

.navbar__avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.navbar__avatarContainer {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 9rem;
  height: 9rem;

  border-radius: 50%;

  border-style: solid;
  border-width: 6px;

  border-bottom-color: #fff;
  border-left-color: #fff;
  border-right-color: #4e75eb;
  border-top-color: #4e75eb;
}

.navbar__name {
  color: #4165b3;
  font-size: 1.4rem;
  font-weight: 800;
}

.navbar__jobTitle {
  color: #a8c1e5;
  font-size: 1rem;
  font-weight: 700;
}

.navbar__logOutButton {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  gap: 10px;
  font-weight: 800;

  color: #e03131;
  margin-top: auto;
  margin-bottom: 6rem;
  cursor: pointer;
}

.navbar__logOutButton ion-icon {
  font-size: 2.5rem;
}

.logOutModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: inherit;
}

.logOutModal__logo {
  width: 12rem;
  margin-bottom: 5px;
}

.logOutModal__question {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.logOutModal__buttons {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.logOutModal__confirmButton,
.logOutModal__cancelButton {
  background: none;
  border: none;
  padding: 10px 12px;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
}

.logOutModal__confirmButton {
  background-color: #e8b0b1;
  color: #745859;
}

.logOutModal__cancelButton {
  background-color: #000;
  color: #fff;
}

/* Tablets (768px to 991px) */
@media (max-width: 991px) {
  .navbar {
    padding-left: 2.5rem;
  }

  .navbar__avatar {
    width: 5rem;
    height: 5rem;
  }

  .navbar__avatarContainer {
    width: 7rem;
    height: 7rem;
  }

  .navbar__name {
    font-size: 1.6rem;
  }

  .navbar__jobTitle {
    font-size: 1.2rem;
  }

  .navbar__userInfo {
    margin-left: -2rem;
  }
}

@media (max-width: 600px) {
  .navbar {
    padding: 1rem;
  }

  .navbar__avatarContainer {
    width: 0rem;
    height: 0rem;
    margin-bottom: 10px;
  }

  .navbar__avatar {
    width: 4rem;
    height: 4rem;
  }

  .navbar__name {
    font-size: 1.2rem;
  }

  .navbar__jobTitle {
    display: none;
  }

  .navbar__logOutButton {
    font-size: 1.2rem;
  }

  .navbar__logOutButton ion-icon {
    font-size: 2rem;
  }

  .navbar__logo {
    width: 8rem;
    margin-bottom: 2rem;
  }

  .navbar__userInfo {
    margin-left: 0rem;
  }
}
