.navItem {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s;
  padding-left: 4rem;
  cursor: pointer;
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
  color: #c2c8da;
  width: 100%;
}

.navItem ion-icon {
  font-size: 2rem;
}

.navItem::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: all 0.3s;
  z-index: -1;
  width: 100%;
}

.navItem:not(.navItem--active):hover {
  color: #2f468d;
}

.navItem:not(.navItem--active):hover::before {
  background-color: #fff;
  box-shadow: 0 0 0 15px #fff;
  margin-left: -15px;
}

.navItem--active {
  font-weight: 800;
  color: #2f468d;
  background-color: #c2c8da;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (max-width: 600px) {
  .navItem {
    gap: 0px;
  }

  .navItem ion-icon {
    font-size: 0rem;
  }

  .navItem--active {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .navItem:not(.navItem--active):hover::before {
    background-color: #dadee9;
    box-shadow: 0 0 0 5px #dadee9;
    margin-left: -4px;
  }
}
