.noDocumentsFound {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noDocumentsFound img {
  height: 30rem;
}

.noDocumentsFound h1 {
  font-size: 3rem;
  font-weight: 800;
  color: #7191ef;
  margin-bottom: 2rem;
  margin-top: -40px;
}

.noDocumentsFound p {
  font-size: 1.6rem;
  font-weight: 600;
  color: #3752a5;
}
