.resetPasswordBackground {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resetPasswordBackground__logo {
  width: 30rem;
  height: auto;
  margin-bottom: 12px;
}

.resetPasswordContainer {
  width: 43rem;
  height: fit-content;
}

.resetPassword {
  width: 40rem;
  padding: 10px 0 10px 40px;
}

.resetPassword__title {
  color: #4e75eb;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.resetPassword__info {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.resetPassword__formGroups {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.resetPassword__formGroup {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 10px;
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

.resetPassword__formGroup input {
  font-family: inherit;
  font-weight: inherit;
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 10px;
  border: 2px solid #000;
}

.resetPassword__formGroupLabels {
  display: flex;
  justify-content: space-between;
}

.resetPassword__formGroup input::placeholder {
  color: #c2c8da;
  font-weight: 400;
}

.resetPassword__link {
  color: #4e75eb;
  text-decoration: none;
  font-weight: 600;
}

.resetPassword__link:hover,
.resetPassword__link:active {
  text-decoration: underline;
}

.resetPassword__button {
  width: 90%;
  background-color: #4e75eb;
  color: #000;
  font-weight: 700;
  border: none;
  padding: 15px;
  border-radius: 10px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 2.5rem;
}

.resetPassword__button:hover,
.resetPassword__button:active {
  background-color: #7191ef;
}

.resetPassword__finalText {
  font-size: 1.4rem;
  color: #9ba0ae;
  display: flex;
  gap: 5px;
}

.resetPassword__loadingContainer {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}

.resetPassword__loading {
  border: 6px solid #ccc; /* Light gray border */
  border-top: 6px solid #4e75eb; /* Blue border on top */
  width: 40px;
  height: 40px;
}

.resetPassword__errorMessageContainer {
  margin-top: 4rem;
  max-width: 90%;
  margin-bottom: 20px;
}

.resetPassword__passwordFormGroup {
  position: relative;
}

.resetPassword__passwordVisibilityIcon {
  position: absolute;
  top: 75%;
  right: 20px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 2.5rem;
  color: #ccc;
}

.resetPassword__successText {
  font-size: 1.5rem;
  font-weight: 500;
}
