.mostCompletedTasksProject {
  width: 30rem;
  height: 30rem;
  background-color: #fff;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);

  padding: 2rem 1rem;

  transition: all 0.3s;

  margin-left: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mostCompletedTasksProject:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.mostCompletedTasksProject__title {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #4dabf7;
  font-size: 1.2rem;
  font-weight: 700;

  margin-bottom: 1rem;
}

.mostCompletedTasksProject__label {
  color: #c2c8da;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.mostCompletedTasksProject__semiDonutContainer {
  margin-top: 3rem;
  position: relative;
}

.mostCompletedTasksProject__value {
  font-size: 1.4rem;
  font-weight: 600;
  /* position: absolute;
    left: 28%;
    top: 60px; */

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  color: #c2c8da;
}

.mostCompletedTasksProject__value span {
  font-size: 5rem;
  color: #4dabf7;
  font-weight: 800;
}
