.personalStatPage {
  background-color: #f6f8fc;
  min-height: 100vh;

  padding: 30px 50px;
}

.personalStatPage__firstRow {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4.5rem;

  width: 100%;

  margin-bottom: 10rem;
}

.personalStatPage__firstRow li {
  width: 19rem;
}

.personalStatPage__secondRow {
  list-style: none;

  display: flex;
  justify-content: center;

  flex-wrap: wrap;

  margin-bottom: 10rem;
}

.personalStatPage__completionRatePieChartContainer,
.personalStatPage__completionRateLineChartContainer {
  margin-left: -5rem;
}

.highestCompletionRateProject {
  width: 30rem;
  height: 23rem;
  background-color: #fff;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);

  padding: 2rem 1rem;

  transition: all 0.3s;

  margin-left: 5rem;
}

.highestCompletionRateProject:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.highestCompletionRateProject__title {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #4dabf7;
  font-size: 1.2rem;
  font-weight: 700;

  margin-bottom: 1rem;
}

.highestCompletionRateProject__completionRateBarContainer {
  margin-top: 40px;
}

.highestCompletionRateProject__title ion-icon {
  font-size: 2rem;
}

.highestCompletionRateProject__label {
  color: #c2c8da;
  font-size: 1.2rem;
  font-weight: 600;
}

.completionRateChart {
  display: flex;
  align-items: center;
}

.completionRateBar {
  width: 80%;
  position: relative;
}

.emptyBar {
  width: 100%;
  height: 8px;
  border-radius: 10px;
  background-color: #c2c8da;

  position: absolute;
  top: -3px;
}

.fillBar {
  height: 8px;
  border-radius: 10px;
  background-color: #4dabf7;

  position: absolute;
  top: -3px;
}

.completionRateBarValue {
  color: #4dabf7;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 15px;
}

.personalStatPage__thirdRow {
  list-style: none;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;
}

.personalStatPage__barChartContainer {
  width: 60%;
}

.mostCompletedTasksProject {
  width: 30rem;
  height: fit-content;
  background-color: #fff;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);

  padding: 2rem 1rem;

  transition: all 0.3s;

  margin-left: 5rem;
}

.mostCompletedTasksProject:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.mostCompletedTasksProject__title {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #4dabf7;
  font-size: 1.2rem;
  font-weight: 700;

  margin-bottom: 1rem;
}

.mostCompletedTasksProject__label {
  color: #c2c8da;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.mostCompletedTasksProject__semiDonutContainer {
  margin-top: 3rem;
  position: relative;
}

.semiDonut {
  margin: auto;
  --percentage: 80;
  --fill: #4dabf7;
  width: 200px;
  height: 100px;
  position: relative;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  overflow: hidden;
  color: var(--fill);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  &:after {
    content: "";
    width: 200px;
    height: 200px;
    border: 20px solid;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) var(--fill)
      var(--fill);
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 0;
    box-sizing: border-box;
    transform: rotate(calc(1deg * (-45 + var(--percentage) * 1.8)));
    animation: fillAnimation 1s ease-in;
  }
}

@keyframes fillAnimation {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(135deg);
  }
}

.semiDonut__value {
  font-size: 1.2rem;
  font-weight: 600;
  position: absolute;
  left: 28%;
  top: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  color: #c2c8da;
}

.semiDonut__value span {
  font-size: 3rem;
  color: #4dabf7;
  font-weight: 800;
}
