.personalStatPage {
  background-color: #f6f8fc;
  min-height: 100vh;

  padding: 30px 50px;
}

.personalStatPage__firstRow {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4.5rem;

  width: 100%;

  margin-bottom: 10rem;
}

.personalStatPage__firstRow li {
  width: 19rem;
}

.personalStatPage__secondRow {
  list-style: none;

  display: flex;
  justify-content: center;

  flex-wrap: wrap;

  margin-bottom: 10rem;
}

.personalStatPage__completionRatePieChartContainer {
  margin-left: -5rem;
}

.personalStatPage__completionRateLineChartContainer {
  width: 100%;
  margin-bottom: 6rem;
}

.personalStatPage__barChartContainer {
  width: 100%;
}
