.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: baseline;
}

.member__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.member__name {
  font-size: 2rem;
  font-weight: 800;
}

.member__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 2.5rem;
}

.member__metaInfoContainer {
  margin-bottom: 3rem;
}

.member__editButton {
  border: none;
  color: #546173;
  background-color: #a8c1e5;
  cursor: pointer;
  font-weight: 800;
  padding: 1rem 4rem;
  border-radius: 10px;
  margin-right: 3rem;
  transition: all 0.3s;
  font-size: 1rem;
  margin: auto;
}

.member__editButton:hover {
  background-color: #97aece;
}
