.navItemList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  margin-left: -4rem;
  background-color: #4165b3;
  padding: 20px 0;
  z-index: -100;
}

@media (max-width: 600px) {
  .navItemList {
    margin-right: -1rem;
  }
}
