.confirmInviteUserModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: inherit;
  z-index: 16;
}

.confirmInviteUserModal__backdrop {
  z-index: 15;
}

.confirmInviteUserModal__logo {
  width: 12rem;
  margin-bottom: 5px;
}

.confirmInviteUserModal__question {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.confirmInviteUserModal__buttons {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.confirmInviteUserModal__confirmButton,
.confirmInviteUserModal__cancelButton {
  background: none;
  border: none;
  padding: 10px 12px;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
}

.confirmInviteUserModal__confirmButton {
  background-color: #a8c1e5;
  color: #434d5c;
}

.confirmInviteUserModal__cancelButton {
  background-color: #000;
  color: #fff;
}

.confirmInviteUserModal__loading {
  margin: unset;
}
