.error {
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 1.5;

  background-color: #e8b0b1;
  color: #5d4647;
  padding: 12px;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
}

.error p {
  font-size: 1.4rem;
  flex-grow: 1;
}

.error ion-icon {
  font-size: 3rem;
  flex-shrink: 0; /* Prevent the icon from shrinking */
}
