.projectSetting {
  width: 100%;
  padding: 2rem 4rem 2rem 2rem;
}

.projectSetting__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.projectSetting__projectName {
  font-size: 3.2rem;
  font-weight: 800;
  color: #4e75eb;
}

.projectSetting__saveButton {
  border: none;
  color: #546173;
  background-color: #a8c1e5;
  cursor: pointer;
  font-weight: 800;
  padding: 1rem 2rem;
  border-radius: 10px;
  margin-right: 3rem;
  transition: all 0.3s;
  font-size: 1.2rem;
}

.projectSetting__loadingWhenSendingRequest {
  margin-right: 3rem;
}

.projectSetting__saveButton:hover {
  background-color: #97aece;
}

.projectSetting__form {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.projectSetting__formControlGroup {
  display: flex;
  align-items: center;
  position: relative;
}

.projectSetting__formControlGroup label {
  font-size: 1.4rem;
  font-weight: 700;
}

.projectSetting__formInput {
  position: absolute;
  height: fit-content;
  left: 30%;
  width: 50%;

  overflow-y: scroll;
}

.projectSetting__radioButtonGroup {
  gap: 40%;
}

.projectSetting__footerButtons {
  display: flex;
  margin-top: 6rem;

  justify-content: center;

  gap: 10rem;
}

.projectSetting__footerButtons button {
  border: none;
  cursor: pointer;
  font-weight: 800;
  padding: 1rem 2rem;
  border-radius: 10px;
  margin-right: 3rem;
  transition: all 0.3s;
  font-size: 1.2rem;
}

.projectSetting__leaveProjectButton {
  background-color: #fcc419;
  color: #654e0a;
}

.projectSetting__leaveProjectButton:hover {
  background-color: #ca9d14;
}

.projectSetting__deleteProjectButton {
  background-color: #e8b0b1;
  color: #5d4647;
}

.projectSetting__deleteProjectButton:hover {
  background-color: #ba8d8e;
}

@media (max-width: 850px) {
  .projectSetting__header {
    margin-bottom: 6rem;
  }

  .projectSetting__formControlGroup label {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .projectSetting__projectName {
    font-size: 2.5rem;
    font-weight: 800;
    color: #4e75eb;
  }

  .projectSetting__formInput {
    width: 60%;
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .projectSetting__form {
    display: flex;
    flex-direction: column;
    gap: 14rem;
  }

  .projectSetting__form textarea {
    height: 12rem;
  }

  .projectSetting__formInput {
    left: 50%;
    width: 55%;
  }

  .projectSetting__radioButtonGroup {
    flex-direction: column;
    gap: 10px;
  }
}
